<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>

    <style>
        body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
}

html {
    background: #fdf9f6;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fdf9f6), color-stop(50%, #fee3c3));
    background: linear-gradient(90deg, #fdf9f6 50%, #fee3c3 50%);
    color: #5e4b45;
}

.btn {
    padding: 11px 20px;
    border-radius: 5px;
    background: #ff7272;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header .alignleft {
    width: 15%;
}

header .alignright {
    width: 15%;
}

header .aligncenter {
    width: 70%;
    margin-right: 50px;
}

header div {
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

header a {
    text-decoration: none;
    color: black;
    border: 1px solid #e0caca;
    padding: 3px;
    border-radius: 5px;
    margin: 0 18px;
}


header a:hover{
    background-color: white;
}


.main_section-left {
    width: 50%;
}

.main_section-left h1,
.main_section-left p {
    margin-left: 15%;
}

.main_section-left .main_section-subscribe {
    margin-left: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 71%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main_section-left .main_section-subscribe input {
    border-radius: 5px;
    border-color: #ff7272;
    width: 69%;
}

.main_section-right {
    width: 50%;
}

.main_section-right h1 {
    text-align: center;
}

.main_section-right .notification_banner {
    width: 74%;
    height: 4px;
    background-color: #fee3c3;
    -webkit-box-shadow: 0 17px 14px #af6565;
    box-shadow: 0 17px 14px #af6565;
    margin: auto;
    position: relative;
    top: 14px;
}

.main_section-right .notification_link {
    width: 500px;
    height: 400px;
    margin: auto;
    overflow: auto;
    -webkit-box-shadow: inset 0 0 15px #af6565;
    box-shadow: inset 0 0 15px #af6565;
    margin-top: 10px;
}

.main_section-right .notification_link ul {
    margin-top: 44px;
}

.main_section-right .notification_link li {
    list-style-type: none;
    width: 90%;
    padding: 11px;
    border-radius: 10px;
    font-size: 15px;
    margin: 14px 0;
    -webkit-box-shadow: 0 0 5px #af6565;
    box-shadow: 0 0 5px #af6565;
    background-color: #fdf9f6;
}

.main_section-right .notification_link li a {
    text-decoration: none;
    color: #615a53;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #d4c0c0;
    box-shadow: inset 0 0 5px #d4c0c0;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #978c8c;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: grey;
}


/*# sourceMappingURL=index.css.map */
    </style>
</head>

<body>
    <header>
        <div class="alignleft">
            <img src="/img/jobvakancy.png" alt="logo" style="width: 118px;" onclick="document.location.href='https://google.com'">
        </div>
        <div class="aligncenter">
            <span><a href="/jobs">Government Jobs</a></span>
            <span><a href="#">B.E/B.Tech Jobs</a></span>
            <span><a href="#">Tech Blog</a></span>
        </div>
        <div class="alignright">
            <button class="btn">Contact Us</button>
        </div>
    </header>
    <div style="display: flex;">
        <div class="main_section-left">
            <h1>Find Your <br>Dream Job Here</h1>
            <p>A thoughtful combination of design and <br /> function to support your everyday <br /> movement. Limited stocks. Shop now.</p>
            <p style="margin-top: 10%;">Subscribe to Get Quick Notification</p>
            <div class="main_section-subscribe">
                <input type="text" value="" placeholder="type your email"><button class="btn">Subscribe</button>
            </div>
        </div>
        <div class="main_section-right">
            <h1>Notification</h1>
            <div class="notification_banner"></div>
            <div class="notification_link">
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi consequatur deleniti consequu</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>